.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    
    h1{
        width: 60%;
        text-align: center;
    }
}